.collectionBanners>a{
  top: 50%;
  transform: translate(0,-50%);
  font-weight: bold;
}
.collectionBanners{
  border:1px solid white;
}

body{
  position: relative;
  font-family: Diatype, Open sans, Helvetica, Arial, sans-serif;
}

.sportswearList{
  font-family: Diatype, Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.offcanvasFooter{
  background-color: #f5f5f5;
}

div.sportswearList{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
div.sportswearList::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@media (max-width: 768px) {
  .productSlide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .productSlide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
.filteredCategories{
  cursor:pointer;
}

.product-breadcrumbs{
  font-size: 12px;
}

.google-login-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.google-login-btn:hover {
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.4);
  transform: scale(1.05);
  cursor: pointer;
}